@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
}

* {
  font-family: "Outfit", sans-serif;
}
.reset-tw, .reset-tw *{ 
  display: revert !important;
}
.cl-drawerRoot {
  z-index: 10;
}